@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    background-color: #c7d1f1;
    font-family: "Inter",sans-serif;
    font-weight: 400;
    line-height: 150%;
}
.logoAlura{
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;
}
main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 2rem;
    margin-bottom: 3.125rem;
    margin-left: 5rem;
}
.text-area{
    font-size: 2rem;
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
    resize: none;
}
::placeholder{color: #0A3871;}
.text-area:focus{
    outline: none;
}
.output-texto{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mensagem{
    align-items: center;
    font-size: 2rem;
    background-color: white;
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-top: 20px;
    resize: none;
    height: 29rem;
    width: 20rem;

}
.mensagem::placeholder{
    display: flex;
    align-items: end;
    text-align:justify;
    background-repeat: no-repeat;
    height: 21rem;
    width: 19.125rem;
    padding-left: 5px;
    padding-top: 120px;
}
.botoes{
    display: flex;
    margin-top: 18px;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
}
.botao-criptografar{
    font-size: 1.8rem;
    color: white;
    background-color: #0A3871;
    padding: 0.375rem;
    border-radius: 1.5rem;
    border-color: #0A3871;
    height: 4.18rem;
    width: 17rem;
    cursor: pointer;
}
.botao-criptografar:hover{
    background-color: #3b2432;
}
.botao-descriptografar{
    font-size: 1.8rem;
    justify-content: flex-end;
    background-color: #D8DFE8;
    border-radius: 1.5rem;
    height: 4.18rem;
    width: 17rem;
    border-color: #0A3871;
    cursor: pointer;
}
.botao-descriptografar:hover{
    background-color: #bbd1bb;
}
#botaoCopiar {
    font-size: 1.8rem;
    border: 1px solid #0A3871;
    background-color: white;
    border-radius: 1.5rem;
    color: black;
    height: 67px;
    width: 18rem;
    margin-top: 25rem;
    position: absolute;
    cursor: pointer;
}
#botaoCopiar:hover{
    background-color: #bbd1bb;
}
.informacao{
    color: #495057;
    font-size: 18px;
}
.rodape{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.autor{
    font-size: 0.93rem;
}
.icones ion-icon{
    cursor: pointer;
    color: black;
    height: 1.8rem;
    width: 1.8rem;
    align-items: center;
}

.icones ion-icon:hover{
    color: green;
}

@media (max-width:1174px){

    
    }
    
    @media (max-width:675px){
        
    }